[Desktop Entry]
Categories=Office;
Comment=Password manager and secure wallet
Exec=/opt/1Password/1password %U
Icon=1password
MimeType=x-scheme-handler/onepassword;
Name=1Password
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=1Password
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
# https://www.1password.community/discussions/1password/1password-shortcuts-on-wayland/90319/replies/158201
Actions=Lock;QuickAccess;

[Desktop Action QuickAccess]
Exec=/opt/1Password/1password --quick-access
Name=Quick Access

[Desktop Action Lock]
Exec=/opt/1Password/1password --lock
Name=Lock
